<header class="border-bottom header pt-4">
    <div >
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="http://localhost:3000/home" class="nav-link px-2 link-secondary fs-5">HOME</a></li>
       
        </ul>

        <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 formHead">
                <select name="type" id="type">

                    <option value="volvo">Movie</option>
                    <option value="saab">Cast</option>
                    <option value="mercedes">Category</option>
 
                </select>
                <input type="search" class="form-control contentSearch" placeholder="Search..." aria-label="Search">
            </div>
                <button class="btn btn-outline-success me-3" type="button" onclick="searchButton()">Search</button>
        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
            
            <li><a class="dropdown-item" href="http://localhost:3000/home/myFilm">My movie</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="http://localhost:3000/auth/logout">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>



  </header>


<ul class="cards">
  {{#each film}}
  <li>
    <a href='http://localhost:3000/film?id={{this.id}}'class="card">
      <img src="{{this.img}}" class="card__image" alt="" />
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
          <img class="card__thumb" src="{{this.img}}" alt="" />
          <div class="card__header-text">
            <h3 class="card__title">{{this.title}}</h3>            
            <span class="card__status">{{this.year}}</span>
            <span class="card__status"> Rating: {{this.rating}}</span>
          </div>
        </div>
        <p class="card__description">{{this.synopses}}</p>
      </div>
    </a>      
  </li>
  {{/each}}
  


    <li>
  </li>
    <li>
  </li>
</ul>




    {{> footerHome }}

